h1 {
    color: rgb(69, 223, 159);
    margin: 0;
    font-family: sans-serif;
}

.parrafo01 {
    color: rgb(117, 92, 92);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor-image01 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px;
    background-color: #2c2e33;
    border: 5px solid #FF5733;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;
}

.contenedor-image02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px;
    border: 5px solid #FF5733;
    background-color: #2c2e33;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(225, 87, 51, 0.5);
    max-width: 400px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FF5733;

}

.contenedor-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
    width: 100%;
    border-bottom: 2px solid #FF5733;
}

.navegacion {
    display: flex;
    gap: 150px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    transition: color 0.3s;
}

.navegacion a:hover {
    color: #4ade80;           
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
