h1 {
    color: rgb(69, 223, 159);
    text-align: center;
}

.parrafo01 {
    color: rgb(117, 92, 92);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor-image01 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px;
    background-color: #2c2e33;
    border: 5px solid #FF5733;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;
}

.contenedor-image02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px;
    border: 5px solid #FF5733;
    background-color: #2c2e33;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(225, 87, 51, 0.5);
    max-width: 600px;
}