h1 {
    text-align: center;
    color: rgb(204, 124, 18);
    margin: 0;
    font-family: sans-serif;
    padding: px;
}

p{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor-image img {
    max-width: 800px;
    width: 100%;      
    height: auto;     
    border-radius: 10px; 
    border: 3px solid #FF5722; 
}

.contenedor-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;

    background-color: #2c2e33;
    border: 5px solid #FF5733;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #171717;

}

.contenedor-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(138, 18, 18);
    width: 100%;
    border-bottom: 2px solid #FF5733;
}

.navegacion {
    display: flex;
    gap: 150px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    transition: color 0.3s;
}

.navegacion a:hover {
    color: #4ade80;           
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

mark{
    background-color: rgb(232, 25, 25);
}

.contenedor-arcade{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    height: auto;

    background-color: #2c2e33;
    border: 5px solid #FF5733;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;

}

.contenedor-arcade img {
    max-width: 400px; 
    width: 100%;      
    height: auto;     
    border-radius: 10px; 
    border: 3px solid #FF5722; 
}


