h1 {
    text-align: center;
    color: rgb(204, 124, 18);
    margin: 0;
    font-family: sans-serif;
}

p{
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.contenedor-image img {
    max-width: 800px;
    width: 100%;      
    height: auto;     
    border-radius: 10px; 
    border: 3px solid #FF5722; 
}

.contenedor-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;

    background-color: #2c2e33;
    border: 5px solid #FF5733;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;
}

.portada {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #171717;

}

.contenedor-portada {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(138, 18, 18);
    width: 100%;
    border-bottom: 2px solid #FF5733;
}

.navegacion {
    display: flex;
    gap: 150px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    transition: color 0.3s;
}

.navegacion a:hover {
    color: #4ade80;           
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

mark{
    background-color: rgb(232, 25, 25);
}

.contenedor-arcade{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    height: auto;

    background-color: #2c2e33;
    border: 5px solid #35c46c;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;

}

.contenedor-arcade img {
    max-width: 400px; 
    width: 100%;      
    height: auto;     
    border-radius: 10px; 
    border: 3px solid #FF5722; 
}

.text-arcade{
    text-align: center;
}

.titulos{
    text-align: center;
    color: rgb(204, 124, 18);
    margin: 0;
    font-family: sans-serif;
}

.enlace-game{
    color:#FF5722;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #FF5722;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.enlance-game:hover{
    color: white;
}

ol {
    list-style-position: inside;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #202020;
    border-left: 5px solid #FF5722;
    border-radius: 8px;
    text-align: left;
}

ol li {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 12px;
    font-family: 'Courier New', Courier, monospace;
}

ol li::marker{
    color: #FF5722;
    font-weight: bold;
    font-size: 1.3rem;
}

.volver-inicio{
color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #FF5722;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.volver-inicio:hover {
    color: #35c46c;
}

ul {
    list-style-position: inside;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #202020;
    border-left: 5px solid #FF5722;
    border-radius: 8px;
    text-align: left;
}

ul li {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 12px;
    font-family: 'Courier New', Courier, monospace;
}

ul li::marker{
    color: #FF5722;
    font-weight: bold;
    font-size: 1.rem;
}

.contenedor-rpg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    height: auto;

    background-color: #2c2e33;
    border: 5px solid #37b93d;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 87, 51, 0.5);
    max-width: 400px;

}

.contenedor-rpg img {
    max-width: 400px; 
    width: 100%;      
    height: auto;     
    border-radius: 10px; 
    border: 3px solid #17e210;
    border: 7px solid #146dc0; 
}

.tabla-rpg{
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #1a1a1a;
    border: 2px solid #FF5722;
}

.tabla-rpg th {
    background-color: #FF5722;
    color: white;
    padding: 15px;
    text-transform: uppercase;
}

.tabla-rpg td {
    padding: 12px;
    border: 1px solid #333;
    text-align: center;
}

.tabla-rpg tr:hover {
    background-color: #333;
}

caption {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF5722;
    margin-bottom: 10px;
    text-transform: uppercase;
}

tfoot td {
    background-color: #242323;
    font-style: italic;
    font-size: 0.9rem;
    color: #4ade80;
    text-align: center;
    padding: 10px
}

